
__pycache__ 
# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# ChromaDB data
data/
data/chunks_cache.json
data/chroma_db/
data/temp_repos/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# IDEs
.vscode/
.idea/
*.swp
*.swo